[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
requests = "*"
flask-babelex = "*"
email-validator = "*"
flask-user = "==0.6.21"

[requires]
python_version = "3.7"
